In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
df=pd.read_csv('Top Indian Places to Visit.csv')
df

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,None,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,None,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,None,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,None,Scientific,Yes,0.31,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,320,Western,Gujarat,Gandhinagar,Akshardham,Temple,1992,3.0,4.6,0,Yes,Monday,Religious,No,0.18,All
321,321,Central,Uttar Pradesh,Agra,Agra Fort,Fort,1565,2.0,4.5,40,Yes,None,Historical,Yes,1.30,Afternoon
322,322,Central,Madhya Pradesh,Bhopal,Madhya Pradesh Tribal Museum,Museum,2013,2.0,4.7,10,Yes,Monday,Cultural,Yes,0.15,All
323,323,Northern,Rajasthan,Jaipur,City Palace,Palace,1727,2.0,4.4,200,Yes,None,Historical,Yes,0.51,Morning
324,324,Northern,Rajasthan,Jaipur,Albert Hall Museum,Museum,1887,2.0,4.5,200,Yes,None,Historical,Yes,0.63,All

In [10]:
col = ['Type','Google review rating','Number of google review in lakhs','Entrance Fee in INR']
df = df[col]
df

,Type,Google review rating,Number of google review in lakhs,Entrance Fee in INR
0,War Memorial,4.6,2.60,0
1,Tomb,4.5,0.40,30
2,Temple,4.6,0.40,60
3,Theme Park,4.1,0.27,50
4,Observatory,4.2,0.31,15
...,...,...,...,...
320,Temple,4.6,0.18,0
321,Fort,4.5,1.30,40
322,Museum,4.7,0.15,10
323,Palace,4.4,0.51,200
324,Museum,4.5,0.63,200

In [11]:
df['Entrance Fee in INR'].unique()

array([   0,   30,   60,   50,   15,   35,   20,   80,   70,  500, 1149,
        550,   25, 1150, 2500,   10, 3500,  200, 7500,  350,  300,  100,
         40,  750,   75,  150, 1500,    5,  250,   65,  650, 1100,  890],
      dtype=int64)

In [12]:
df['Entrance Fee in INR'].value_counts()

0       183
50       21
20       19
30       13
10       12
100       8
500       7
40        7
25        6
300       5
15        5
150       4
35        4
200       4
60        4
1149      2
2500      2
80        2
250       2
1500      2
1100      1
650       1
65        1
5         1
3500      1
75        1
750       1
350       1
7500      1
1150      1
550       1
70        1
890       1
Name: Entrance Fee in INR, dtype: int64

In [13]:
df = df[df['Entrance Fee in INR'] != 0]

In [14]:
df['Entrance Fee in INR'].value_counts()

50      21
20      19
30      13
10      12
100      8
40       7
500      7
25       6
15       5
300      5
150      4
60       4
200      4
35       4
2500     2
250      2
1149     2
80       2
1500     2
1100     1
650      1
65       1
5        1
750      1
75       1
1150     1
70       1
350      1
7500     1
550      1
3500     1
890      1
Name: Entrance Fee in INR, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 1 to 324
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Type                              142 non-null    object
 1   Google review rating              142 non-null    float64
 2   Number of google review in lakhs  142 non-null    float64
 3   Entrance Fee in INR               142 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.5+ KB

In [17]:
df = pd.get_dummies(df,dtype='int')
df

,Google review rating,Number of google review in lakhs,Entrance Fee in INR,Type_Adventure Sport,Type_Amusement Park,Type_Aquarium,Type_Beach,Type_Bird Sanctuary,Type_Botanical Garden,Type_Cave,...,Type_Temple,Type_Temples,Type_Theme Park,Type_Tomb,Type_Tombs,Type_Valley,Type_Vineyard,Type_Waterfall,Type_Wildlife Sanctuary,Type_Zoo
1,4.5,0.40,30,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,4.6,0.40,60,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,4.1,0.27,50,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,4.2,0.31,15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,4.5,1.50,35,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,4.4,0.24,50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
321,4.5,1.30,40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
322,4.7,0.15,10,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
323,4.4,0.51,200,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
324,4.5,0.63,200,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
X = df.drop(columns = ['Entrance Fee in INR'])
Y = df['Entrance Fee in INR']
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3)

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(X_train,Y_train)

LinearRegression()

In [23]:
reg.score(X_train,Y_train)

0.8556430726084174

In [24]:
reg.score(X_test,Y_test)

-2.1434469685008316e+24

In [38]:
from sklearn.linear_model import Lasso
reg2=Lasso(alpha=40,max_iter=300,tol=0.1)
reg2.fit(X_train,Y_train)

Lasso(alpha=40, max_iter=300, tol=0.1)

In [39]:
reg2.score(X_train,Y_train)

0.47003626568607226

In [40]:
reg2.score(X_test,Y_test)

-2.0477513385918416

In [41]:
from sklearn.linear_model import Ridge
reg3=Ridge(alpha=25,max_iter=100,tol=0.1)
reg3.fit(X_train,Y_train)

Ridge(alpha=25, max_iter=100, tol=0.1)

In [42]:
reg3.score(X_train,Y_train)

0.09232062171828392

In [43]:
reg3.score(X_test,Y_test)

-0.3206932788043877